<body>
<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                        <h2 class="form-header-title">ユーザーログイン</h2>
                    </div>
                    <div class="form-body">

                      <div class="row">
                          <div class="col-xs-offset-1 col-xs-10">
                              <div class="text-center">
                              </div>
                          </div>
                      </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group has-icon">
      <label class="control-label sr-only" for="inputName">Name</label>
      <%= f.text_field :name, autofocus: true %>
      <span class="fa fa-envelope form-control-icon" aria-hidden="true"></span>
    </div>
    <div class="form-group has-icon">
      <label class="control-label sr-only" for="inputPassword">Password</label>
      <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"Password" %>
      <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
    </div>
    <%= f.submit "Log in", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
  <% end %>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-3 col-xs-offset-9'>
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>


  </body>
</html>